/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --main-wght: "wght" 410;
    --accent-wght: "wght" 715;
    --header-inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    --bg-image:
    repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --bg-accent: #ffffff;
    --color-accent: #000000;
    --text-logo: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem); /* 49 и 65*/
    --text-decorated: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem); /* 14 и 23*/
    --text-main: 18px;  /* заголовок карточки и параграф*/
    --accent-text: 14px;  /* лейбл и кнопки*/
    --text-lh: 100%;  /*для лого и заголовка*/
    --text-lh-button: 90%;  /*для кнопок*/
    --text-lh-dialog: 150%;  /*для диалогового окна*/
    --text-lh-accent: 21px;  /*для параграфа*/
    --padding-logo-justify: clamp(7.375rem, 7.1109rem + 1.1268vw, 8.125rem);    /* 118(120) и 130*/
    --padding-logo-align: clamp(1rem, -1.3438rem + 10vw, 7.65625rem);   /* 16 и 122.5*/
    --padding-card-description: 25px;
    --padding-dialog: 30px;
    --padding-dialog-accent: 30px 40px;
    --main-border: 2px solid var(--color-accent);
    --accent-border: 2px solid transparent;
    --text-stroke: 1px var(--bg-accent);
    --contour-color: #FF0000;
    --main-contour-color: var(--color-accent);
}